<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница админа</title>
</head>
<body>
    <form method="POST">
  <h3 align="center">Страничка админа</h3>
  <h4>Удалить пользователя возможно, только если он не является администратором</h4>
  <h4>Чтобы удалить пользователя, вы должны ввести его id в поле ниже </h4>
  <div class="form-group">
    <input
      class="form-control"
      id="id-pol"
      name="id-pol"
      placeholder="Введите id пользователя"
    />
  </div>
  <button type="submit" class="btn btn-primary">Удалить пользователя</button>
    </form>
</body>
</ht
