<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form method="POST">
  <h3 align="center">Регистрация</h3>
  <div class="form-group">
      <input
      class="form-control"
      id="login"
      name="login"
      placeholder="Введите логин"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Введите пароль"
    />
  </div>
  <br />
  <h4>Если вы хотите зарегистрироваться, как администратор - введите в поле ниже админский ключ. Если нет, то оставьте это поле пустым</h4>
  <div class="form-group">
    <input
      class="form-control"
      id="admin_key"
      name="admin_key"
      placeholder="Введите админский ключ"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
</body>
</h
